<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smates.dbc2.mapper.RoomLocationDao">

	<!-- column代表查询出的表格属性，property代表实体类属性， type实体类名字-->
	<resultMap id="RoomLocationMap" type="RoomLocation">
		<id column="tagNum" property="tagNum" jdbcType="CHAR" />
		<result column="roomName" property="roomName" jdbcType="CHAR" />
		<result column="roomNum" property="roomNum" jdbcType="INTEGER" />
	</resultMap>

	<!-- des: 查找每个房间的用户人数：房间号：tagNum， 姓名：NAME，房间区域：roomName -->
	<select id="getRoomLocation" resultMap="RoomLocationMap">
		SELECT t11.tagNum, t11.roomName, COUNT(t11.roomName) AS roomNum FROM (SELECT
				ti1.tagNum,
				ti1.NAME,
				t03.roomName
			FROM
				TagInformation ti1
			LEFT JOIN (
				SELECT
					t01.tagNum,
					ri1.roomName
				FROM
					time t01,
					(
						SELECT
							max(id) AS max_id,
							tagNum
						FROM
							time
						GROUP BY
							tagNum
					) t02,
					RoomInformation ri1
				WHERE t01.id = t02.max_id
				  AND t01.cpid = ri1.cpid
				  AND t01.wakeupNum = ri1.wakeupNum
				) t03 ON ti1.TagNum = t03.tagNum
				WHERE
					ti1.Usefull = 'true'
				ORDER BY
					ti1.tagNum
		
			) t11 GROUP BY t11.roomName
	</select>


</mapper>